/* Structure CSS */
* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg.webp");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Header CSS */
header {
  background: #007a8b;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  margin: -2rem 0rem -2rem 0rem;
}

header .header-content {
  width: 80%;
  margin: auto;
}

header .header-content .logo {
  float: left;
}

header .header-content h1 {
  font-family: "Jomhuria";
  text-decoration: none;
  color: #ffde3d;
  -webkit-text-stroke-width: 0.0005rem;
  -webkit-text-stroke-color: #00444e;
}

/* Searchbar CSS */

/* Nav CSS */
nav {
  background-color: #ffde3d;
  position: sticky;
  width: 100%;
  top: 0;
  font-family: "Bitter";
}
.navbar {
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.navbar .mini-title {
  display: none;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0.875rem 1.5rem;
  text-decoration: none;
}

/* Search Bar */
.navbar .search-container {
  float: right;
  padding-top: 0.675rem;
}
.navbar .search-container input[type="text"] {
  font-family: inherit;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.navbar .icon {
  display: none;
}

/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.063rem;
  border: none;
  outline: none;
  color: black;
  padding: 0.875rem 1.5rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ddd;
  min-width: 160px;
  box-shadow: 0px 8px 1rem 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #007a8b;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: grey;
  color: #ffde3d;
  transition: all 0.5s;
}

.dropdown-content a:hover {
  background-color: grey;
  color: #ffde3d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:click .dropdown-content {
  display: none;
}

/* Navbar Responsive */
@media screen and (max-width: 720px) {
  .navbar a,
  .dropdown .dropbtn,
  .navbar .search-container {
    display: none;
  }
  .navbar {
    width: 100%;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar a.mini-title {
    float: left;
    display: block;
    color: teal;
    font-weight: bold;
  }

  .navbar a.mini-title:hover {
    color: #ffde3d;
  }
}

@media screen and (max-width: 720px) {
  .main {
    width: 95%;
  }
  header {
    display: none;
  }
  .navbar.responsive {
    position: relative;
    width: 100%;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {
    float: none;
  }
  .navbar.responsive .dropdown-content {
    position: relative;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar input[type="text"],
  .navbar .search-container {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0.875rem;
  }

  .navbar a.mini-title:hover {
    width: 23.4%;
  }

  .navbar.responsive .search-container {
    display: block;
    float: none;
    width: 100%;
  }
}

/* Content CSS */
main {
  background: white;
  color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 100vh;
}

/* About page style */
.about-title {
  background-color: #007a8b;
  color: white;
  padding: 10px 1rem;
  padding-bottom: 0;
  margin: 0;
  font-family: "Jomhuria";
  font-size: 60px;
  font-weight: 400;
}

.about-content {
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: justify;
}

/* About's card style */
a.btn-profile {
  background-color: #ffde3d;
  color: black;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 6px 30px 8px;
  text-decoration: none;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  display: inline-block;
  margin: 8px;
  padding-bottom: 1rem;
  max-width: 300px;
  text-align: center;
  width: 300px;

  img {
    max-width: 300px;
  }

  .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    padding: 6px 15px 10px;
    position: relative;

    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
    }
  }

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }
}

/* Contact style */
#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"],
#contact input[type="email"]:hover
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #ffde3d;
  color: black;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: gray;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

/* Footer CSS */
footer {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  background: #007a8b;
}

footer .sub-footer {
  margin-bottom: -0.5rem;
}

footer .sub-footer h3 {
  font-family: "Jomhuria";
  color: #ffde3d;
  font-size: 2.5rem;
  -webkit-text-stroke-width: 0.00001em;
  -webkit-text-stroke-color: #00444e;
  padding-top: 2rem;
}

footer .sub-footer table {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  padding-bottom: 2rem;
}
footer .sub-footer table td {
  padding: 0 1rem 0 1rem;
}

footer .sub-footer table .socmed img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}

footer .sub-footer table .socmed img:hover {
  opacity: 0.5;
  border-width: 1px;
  transition: all 0.5s;
}

footer .main-footer {
  font-family: "Bitter";
  color: black;
  padding: 0.3em 0 0.3em 0;
  background: #ffde3d;
}

footer p {
  font-size: 0.8em;
}
